# Fichiers d'analyse système
*.txt
!requirements.txt
!README.md

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs et databases
*.log
*.sql
*.sqlite

# Dossiers et fichiers système Windows
.DS_Store
Thumbs.db